/sdk-idps-srv/.settings
/sdk-idps-srv/.gradle
/sdk-idps-srv/.classpath
/sdk-idps-srv/.project
/.project
/.classpath
/.settings
/idps-web/.project
/idps-web/.classpath
/idps-web/.settings
/idps-web/.gradle
/idps-web/.springBeans
/bin/
