<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p %c(%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.ai" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.spring" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.mongodb" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </logger>        
        
	</Loggers>
</Configuration>