<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 	
 	
 	<display-name>iPaaS-IPS</display-name>
	<context-param>
		<param-name>appName</param-name>
		<param-value>iPaas-IPS</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>htmlServer</servlet-name>
		<servlet-class>com.ai.paas.image.StaticHtmlServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>htmlServer</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>imageServer</servlet-name>
		<servlet-class>com.ai.paas.ipaas.ips.ImageServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageServer</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:common/springmvc-servlet.xml
        	</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> 
	<servlet>
		<servlet-name>UpImageServlet</servlet-name>
		<servlet-class>com.ai.paas.ipaas.ips.UpImageServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpImageServlet</servlet-name>
		<url-pattern>/upImage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.ai.paas.ipaas.ips.UploadServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteImageServlet</servlet-name>
        <url-pattern>/deleteImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>DeleteImageServlet</display-name>
        <servlet-name>DeleteImageServlet</servlet-name>
        <servlet-class>com.ai.paas.ipaas.ips.DeleteImageServlet</servlet-class>
    </servlet>
    
	
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
